@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chivo:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

/* --- DESIGN ALL --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins';
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #17153B;
    color: aliceblue;
}

/* --- DESIGN HEADER --- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242157;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 100%;
    margin: 0;
    padding: 1rem 4%;
}

.MyPorto {
    margin-left: 10px;
    font-size: 3rem;
    background: linear-gradient(25deg, #eee8f1, #6863a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800px;
    transition: 0.5s ease;
}

.MyPorto:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 4rem;
    list-style: none;
    text-align: center;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    color: #eeedff;
}

.link {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: #8d87cc;
    position: relative;
}

.link::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform .35s ease;
}

.link:hover::after {
    transform: scalex(1);
}

/* DESIGN PROJECT */

.Myproject {
    text-align: center;
    padding: 1rem 1% 1rem;
}

.Myproject h1{
    font-size: 5.5rem;
    color: #c2bfe2;
    text-shadow: 0 0 10px #2b228f;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.Myproject h2{
    font-size: 3.5rem;
    color: #c2bfe2;
    text-shadow: 0 0 10px #2b228f;
    margin-top: -3rem;
    margin-bottom: -5rem;
}

.colorFontProject {
    color: #5f5aa7;
}

.boxDesign {
    border: #5f5aa7 solid 3px;
    padding: 5rem;
    margin: 5rem auto;
    width: 95%;
    display: block;
    border-radius: 2rem;
    box-shadow: 0 0 15px #8d87cc;
}

.mainStyleProject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 4rem;
}

.styleProject img {
    width: 100%;
    margin: 1rem;
    transition: 0.5s ease;
    cursor: pointer;
    margin-top: 10rem;
}

.styleProject img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #8d87cc;
}

@media (max-width: 1225px) {
    .boxDesign {
        display: flex;
        flex-direction: column;
        align-items: center; /* isi di tengah */
        justify-content: center;
        margin: 2rem auto;
        width: 100%;
        background: rgba(255, 255, 255, 0.03);
        border-radius: 20px;
        padding: 4rem;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.05);
    }

    .Myproject h1{
        font-size: 3.5rem;
    }

    .boxDesign h2 {
        color: #fff;
        text-align: center;
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }

    .mainStyleProject {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        overflow-x: auto;  
        overflow-y: hidden; 
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        padding: 1px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
    }

    .mainStyleProject::-webkit-scrollbar {
        height: 8px;
    }

    .mainStyleProject::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

    .mainStyleProject::-webkit-scrollbar-thumb {
        background: #5f5aa7;
        border-radius: 10px;
    }

    .mainStyleProject::-webkit-scrollbar-thumb:hover {
        background: #4a4791;
    }

    .styleProject {
        flex-shrink: 0;
        scroll-snap-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        border-radius: 1px;
        overflow: hidden;
    }

    .styleProject img {
        width: 64%;
        margin: 0;
        object-fit: cover;
        border-radius: 1px;
        cursor: pointer;
    }

    .styleProject img {
        transition: none;
        transform: none;
    }
    .styleProject img:hover {
        transform: none;
        box-shadow: none;
    }

    .styleProject img {
        transition: 0.5s ease;
    }
    
    .styleProject img:hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px #8d87cc;
    }
}

@media (max-width: 964px) {
    header {
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .MyPorto {
        margin: 0;
    }

    nav a {
        margin: 1rem;
    }

    section {
        min-height: 50vh;
        padding: 2rem 2% 2rem;
    }

    .styleProject {
        margin-right: -5rem;
        margin-left: -5rem;
    }
    
    .styleProject img {
        width: 50%;
        transition: 0.5s ease;
    }

    .styleProject img:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px #8d87cc;
    }
}

@media (max-width: 520px) {
    header {
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .MyPorto {
        margin: 0;
    }

    nav a {
        margin: 1rem;
    }

    section {
        min-height: 50vh;
        padding: 2rem 2% 2rem;
    }

    .styleProject {
        width: 225px;
        height: 225px;
        border-radius: 1px;
        overflow: hidden;
        margin-right: -2rem;
        margin-left: -2rem;
    }

    .styleProject img {
        width: 70%;
        margin: 0;
        object-fit: cover;
        border-radius: 1px;
        cursor: pointer;
    }

    .styleProject {
        margin-right: -4.5rem;
        margin-left: -4.5rem;
    }
    
    .styleProject img {
        width: 50%;
    }
}

@media (max-width: 350px) {
    header {
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .MyPorto {
        margin: 0;
    }

    nav a {
        margin: 1rem;
        font-size: 1.5rem;
    }

    section {
        min-height: 50vh;
        padding: 2rem 2% 2rem;
    }

    .styleProject {
        width: 225px;
        height: 225px;
        border-radius: 1px;
        overflow: hidden;
        margin: 0 auto;
    }

    .styleProject {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .styleProject img {
        width: 60%;
    }

}